<!-- <h1>Hi {{currentUser.firstName}}!</h1>
<p>You're logged in with Angular 7!!</p>
<h3>All registered users:</h3>
<ul>
    <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
</ul>-->


<h2 class="text-center"><b>WELCOME HOME</b></h2>

<hr style="display: block; border-width: 1px; border-color:#007bff; ">

<div class="row" style="margin-top: 10px;" >
     <div class="col-sm-6">
            <h3 class="text-danger text-center"><b>Temperature : {{itemlist}}</b></h3>
            <br><br>
            <div *ngIf="chart">
                    <canvas id="canvas" chart-labels="labels">{{ chart }}</canvas>
                </div> 
    </div>
    <div class="col-sm-6">
        
            <h3 class="text-danger text-center"><b>Pressure : {{itemlist1}}</b></h3> 
            <br><br>
            <div *ngIf="charts">
                    <canvas id="canvass" >{{ charts }}</canvas>
                </div> 
       
    </div>
</div>

